<head>
    <link rel="stylesheet" href="inicio.component.css">
  </head>
<body>
    
    <div class="form-container">
      <div class="form-side">
        <form class="form-main">
            <h3 class="form-title">BIENVENIDO:</h3>

          <div class="button-container">
            <button type="button" class="btn btn-primary" [routerLink]="['/iniciarsesion']">Iniciar Sesion</button>
            <button type="button" class="btn btn-primary" [routerLink]="['/users/agregar']">registrarse</button>
          </div>
        </form>
      </div>
    
      <div class="image-side">
        <img src="https://th.bing.com/th/id/R.f561eec032c8aa5a54b5df0d21402b82?rik=7RXYjje3wW7gFA&pid=ImgRaw&r=0" alt="Imagen de fondo" class="side-image">
      </div>
    </div>
    
    
</body>
    
